<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>SIHA - Homepage</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/chatbot/chatstyles.css?v=1.0.0.1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
	integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
	rel="stylesheet">

<link rel="stylesheet" href="../css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="../css/animate.css">

<link rel="stylesheet" href="../css/owl.carousel.min.css">
<link rel="stylesheet" href="../css/owl.theme.default.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">

<link rel="stylesheet" href="../css/aos.css">

<link rel="stylesheet" href="../css/ionicons.min.css">

<link rel="stylesheet" href="../css/bootstrap-datepicker.css">
<link rel="stylesheet" href="../css/jquery.timepicker.css">


<link rel="stylesheet" href="../css/flaticon.css">
<link rel="stylesheet" href="../css/icomoon.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" th:href="@{/user/index}"><i
				class="flaticon-pharmacy"></i><span>SIHA</span>Hospital</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a th:href="@{/user/index}"
						class="nav-link">Home</a></li>
					<li class="nav-item"><a th:href="@{/user/about}"
						class="nav-link">About</a></li>
					<li class="nav-item"><a th:href="@{/user/departments}"
						class="nav-link">Departments</a></li>
					<li class="nav-item"><a th:href="@{/user/doctor}"
						class="nav-link">Doctors</a></li>
					<li class="nav-item"><a th:href="@{/user/blog}"
						class="nav-link">Blog</a></li>
					<li class="nav-item"><a th:href="@{/user/contact}"
						class="nav-link">Contact</a></li>
						
						<li class="nav-item"><a th:href="@{/user/index1}"
						class="nav-link"> 
						</a>
						<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2>
	</noscript>


	<div id="main-content" class="container" >
		<div class="row">
			<div class="col-md-6">
				<!-- <form class="form-inline">
                <div class="form-group">
                     <label for="connect">WebSocket connection:</label> -->
				<button id="connect" >
				<i class="fa-brands fa-rocketchat"></i>
				</button>
				<!--  <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
                 <div class="form-group">
                	<label>Connect to the web socket and it will open a chatbox. 
                	if after connection you are not able to see that chatbot remove hide code in chatscript.js file</label>
                </div> 
            </form> -->
			</div>
		</div>



		<div class="chat-box" style="margin-top: 50px;">
			<div class="chat-box-header">
				<div class='app'>
					<span id="start-record-btn"
						style='float: left; cursor: pointer; padding-left: 28px;'
						title="Start Recording"><i class="fa fa-microphone"></i></span>
				</div>
				Siha <span class="chat-box-toggle"><i class="fa fa-close" style="font-size:24px"></i>
			</div>
			<div class="chat-box-body">
				<div class="chat-box-overlay"></div>
				<div class="chat-logs"></div>
			</div>
			<div class="chat-input">
				<form>
					<input type="text" id="chat-input" placeholder="Send a message..." />
					<button type="submit" class="chat-submit" id="chat-submit"
						title="Send Text">
						<i class="fa fa-send"></i>
					</button>
				</form>
			</div>
		</div>


	</div>

	<script src="/chatbot/chatscript.js?v=1.0.0.1"></script>
					<li class="nav-item cta"><a class="nav-link"
						data-toggle="modal" data-target="#modalAppointment"><span>Make
								an Appointment</span></a></li> &nbsp;&nbsp;&nbsp;
					<li class="nav-item "><form th:action="@{/logout}"
							method="POST">
							<button type="submit" class="btn btn-danger">Logout</button>
						</form></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<marquee height="25" width="100%" bgcolor="yellow">
		<h5>COVID-19 testing is available by appointment at our
			drive-through site at SIHA Hospital in Chennai and through
			SIHA’s Urgent Care Centers in TAMILNADU. Please do not
			use our emergency department for routine testing for COVID-19 if you
			have only been exposed or have mild symptoms</h5>
	</marquee>

	<div class="hero-wrap"
		style="background-image: url('../images/bg_1.jpg'); background-attachment: fixed;">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-center justify-content-center"
				data-scrollax-parent="true">
				<div class="col-md-8 ftco-animate text-center">
					<h1 class="mb-4">The most valuable thing is your Health</h1>
					<p>We care about your health Even the all-powerful Pointing has
						no control about the blind texts it is an almost unorthographic
						life</p>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-services">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-4 ftco-animate py-5 nav-link-wrap">
					<div class="nav flex-column nav-pills" id="v-pills-tab"
						role="tablist" aria-orientation="vertical">
						<a class="nav-link px-4 active" id="v-pills-master-tab"
							data-toggle="pill" href="#v-pills-master" role="tab"
							aria-controls="v-pills-master" aria-selected="true"><span
							class="mr-3 flaticon-cardiogram"></span> Cardiology</a> <a
							class="nav-link px-4" id="v-pills-buffet-tab" data-toggle="pill"
							href="#v-pills-buffet" role="tab" aria-controls="v-pills-buffet"
							aria-selected="false"><span class="mr-3 flaticon-neurology"></span>
							Neurology</a> <a class="nav-link px-4" id="v-pills-fitness-tab"
							data-toggle="pill" href="#v-pills-fitness" role="tab"
							aria-controls="v-pills-fitness" aria-selected="false"><span
							class="mr-3 flaticon-stethoscope"></span> Diagnostic</a> <a
							class="nav-link px-4" id="v-pills-reception-tab"
							data-toggle="pill" href="#v-pills-reception" role="tab"
							aria-controls="v-pills-reception" aria-selected="false"><span
							class="mr-3 flaticon-tooth"></span> Dental</a> <a
							class="nav-link px-4" id="v-pills-sea-tab" data-toggle="pill"
							href="#v-pills-sea" role="tab" aria-controls="v-pills-sea"
							aria-selected="false"><span class="mr-3 flaticon-vision"></span>
							Ophthalmology</a> <a class="nav-link px-4" id="v-pills-spa-tab"
							data-toggle="pill" href="#v-pills-spa" role="tab"
							aria-controls="v-pills-spa" aria-selected="false"><span
							class="mr-3 flaticon-ambulance"></span> Emergency</a>
					</div>
				</div>
				<div
					class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">

					<div class="tab-content pl-md-5" id="v-pills-tabContent">

						<div class="tab-pane fade show active py-5" id="v-pills-master"
							role="tabpanel" aria-labelledby="v-pills-master-tab">
							<span class="icon mb-3 d-block flaticon-cardiogram"></span>
							<h2 class="mb-4">Cardiology Department</h2>
							<p>Cardiology is a branch of medicine dealing with disorders
								of the heart as well as parts of the circulatory system. The
								field includes medical diagnosis and treatment of congenital
								heart defects, coronary artery disease, heart failure, valvular
								heart disease and electrophysiology.</p>
							<p>We’ll improve patients’ quality of life after a
								life-changing event such as a heart attack, heart failure or a
								heart rhythm disorder.</p>
							<p>We’ll also be involved in understanding diseases, how they
								progress and can be prevented.</p>
							<p>We’ll care for adult patients with conditions such as:</p>
							<ul>
								<li>angina (chest pain caused by narrowing of the coronary
									arteries)</li>
								<li>arrhythmias (irregular heartbeat)</li>
								<li><a href="/glossary#Heart_murmurs"
									title="Abnormal sounds caused by turbulent blood flow within the&amp;nbsp;heart.
"
									class="lexicon-term">heart murmurs</a> due to heart valve
									disease</li>
								<li>cardiomyopathy (disease of the heart muscle) with heart
									failure including pulmonary</li>
								<li><a href="/glossary#Oedema"
									title="A build up of fluid in the body, causing the affected tissue to become swollen.
"
									class="lexicon-term">oedema</a> (accumulation of fluid)</li>
								<li>coronary artery <a href="/glossary#Thrombosis"
									title="The formation of a blood clot in the blood vessels or heart.
"
									class="lexicon-term">thrombosis</a> or myocardial infarction
									(heart attack) often associated with high blood pressure (<a
									href="/glossary#Hypertension"
									title="Abnormally high blood pressure.
" class="lexicon-term">hypertension</a>)
									and high cholesterol
								</li>
								<li>diseases of the arteries (atherosclerosis, arteritis,
									atheroma)</li>
								<li>hole in the heart and other forms of congenital heart
									disease</li>
							</ul>
						</div>

						<div class="tab-pane fade py-5" id="v-pills-buffet"
							role="tabpanel" aria-labelledby="v-pills-buffet-tab">
							<span class="icon mb-3 d-block flaticon-neurology"></span>
							<h2 class="mb-4">Neurogoly Department</h2>
							<p>Neurology is the branch of medicine concerned with the
								study and treatment of disorders of the nervous system. The
								nervous system is a complex, sophisticated system that regulates
								and coordinates body activities. It has two major divisions:</p>
							<ul>
								<li>Central nervous system: the brain and spinal cord</li>
								<li>Peripheral nervous system: all other neural elements,
									such as eyes, ears, skin, and other &quot;sensory
									receptors&quot;</li>
							</ul>
							<p>The neurologist treats disorders that affect the brain,
								spinal cord, and nerves, such as:</p>
							<ul>
								<li>Cerebrovascular disease, such as stroke</li>
								<li>Demyelinating diseases of the central nervous system,
									such as multiple sclerosis</li>
								<li>Headache disorders</li>
								<li>Infections of the brain and peripheral nervous system</li>
								<li>Movement disorders, such as Parkinson&#39;s disease</li>
								<li>Neurodegenerative disorders, such as Alzheimer&#39;s
									disease, Parkinson&#39;s disease, and Amyotrophic Lateral
									Sclerosis (Lou Gehrig&#39;s disease)</li>
							</ul>
							<ul>
								<li>Seizure disorders, such as epilepsy</li>
								<li>Spinal cord disorders</li>
								<li>Speech and language disorders</li>
							</ul>
							<p>Neurologists do not perform surgery. If one of their
								patients requires surgery, they refer them to a neurosurgeon.</p>
						</div>

						<div class="tab-pane fade py-5" id="v-pills-fitness"
							role="tabpanel" aria-labelledby="v-pills-fitness-tab">
							<span class="icon mb-3 d-block flaticon-stethoscope"></span>
							<h2 class="mb-4">Diagnostic Department</h2>
							<p>Department of Radiology and Imaging Sciences at SIHA
								Hospital Chennai is dedicated to improving and enhancing patient
								care in a safe and efficient manner</p>
							<p>The entire gamut of services include neurologic, head and
								neck, cardiac, vascular, abdominal, musculoskeletal, pediatric
								and women’s imaging.</p>
							<p>Apart from catering to in-patients, the department offers
								round the clock diagnostic services to other patients as well
								like a stand-alone radiology Centre.</p>
							<p>SIHA Radiology & Imaging Department is equipped with
								state-of-the-art digital technology and equipment to achieve the
								best possible diagnosis:</p>
							<p>
								<i class="fa fa-arrow-circle-right icon-orange"
									aria-hidden="true"></i> &nbsp;Digital and computerized
								radiography
							</p>
							<p>
								<i class="fa fa-arrow-circle-right icon-orange"
									aria-hidden="true"></i> &nbsp;3D / 4D Ultrasound and Doppler
								scanners
							</p>
							<p>
								<i class="fa fa-arrow-circle-right icon-orange"
									aria-hidden="true"></i> &nbsp;16 Multi-slice CT scanner
							</p>
						</div>

						<div class="tab-pane fade py-5" id="v-pills-reception"
							role="tabpanel" aria-labelledby="v-pills-reception-tab">
							<span class="icon mb-3 d-block flaticon-tooth"></span>
							<h2 class="mb-4">Dental Departments</h2>
							<p>Dental Clinic by SIHA Hospital, which is preferred by many
								countries, especially in the United States and European
								countries, has a vision to improve the quality of services
								internationally with its experienced doctors in their areas of
								expertise.</p>
							<p>Preventive dental care is essential to keep your teeth
								healthy throughout your life by identifying and providing
								solutions for dental problems early to avoid the risks of
								developing cavities, enamel loss, or inflammation of gums such
								as gingivitis, and periodontitis. Routine preventive dental care
								and good oral health practices will ensure a healthy smile.</p>
						</div>

						<div class="tab-pane fade py-5" id="v-pills-sea" role="tabpanel"
							aria-labelledby="v-pills-sea-tab">
							<span class="icon mb-3 d-block flaticon-vision"></span>
							<h2 class="mb-4">Ophthalmology Departments</h2>
							<p>The Department of Ophthalmology was established in 2005
								with a mission to provide quality eye care to all categories of
								people with state-of-the-art facilities and to provide
								exceptional training for under graduate and post graduate
								students in the field of ophthalmology. A huge area of
								approximately 14000 square feet has been allocated for
								Outpatient clinic and wards. The Outpatient clinic is equipped
								with state-of-the-art ophthalmic equipment for both diagnosis
								and therapy. A dedicated operation theatre houses high end
								equipment for cataract and other ophthalmic surgeries. The minor
								operation room is situated adjacent to outpatient clinic.</p>
							<p>The commonly treated ophthalmic conditions include
								conjunctival, corneal diseases,Paediatric ocular disorders,
								intraocular infections, correction of refractive errors,
								cataract, eye injuries, removal of foreign
								bodies,glaucoma,retinal diseases,intraocular inflammations and
								neuroophthalmic problems.</p>
						</div>

						<div class="tab-pane fade py-5" id="v-pills-spa" role="tabpanel"
							aria-labelledby="v-pills-spa-tab">
							<span class="icon mb-3 d-block flaticon-ambulance"></span>
							<h2 class="mb-4">Emergency Departments</h2>
							<p>EDs have highly trained doctors and other health
								professionals on site to deal with emergencies. They assess,
								treat, stabilise and start the health management of people who
								have come to the ED with a serious illness or injury.</p>
							<h2>When and why should you visit an ED?</h2>
							<p>You should go to a hospital ED if you or your child are
								seriously ill or injured.</p>
							<p>
								People often <a href="https://canbabieseat.com/" rel="nofollow">take
									babies or</a> children to public hospital EDs if they become ill
								suddenly. Many older people go there for urgent attention too.
							</p>
							<p>Most people go to EDs with conditions that include:</p>
							<ul>
								<li>injuries from <a href="/accidents-and-injuries">accidents</a>,
									physical assaults or <a href="/falls">falls</a></li>
								<li><a href="/heart-attack">heart attack</a> and <a
									href="/stroke">stroke</a></li>
								<li>severe pain</li>
								<li>problems with breathing or bleeding</li>
								<li>broken bones</li>
								<li>loss of consciousness</li>
								<li>worsening of a serious illness</li>
								<li>drug overdoses or <a href="/poisoning">poisoning</a></li>
								<li><a href="/allergies-and-hypersensitivities">allergic
										reactions</a></li>
								<li><a href="/pregnancy-complications">pregnancy
										complications</a></li>
								<li><a href="/mental-illness">mental illness</a></li>
								<li><a href="/burns-and-scalds">burns</a></li>
							</ul>

							<p>A GP can often deal with minor emergencies such as sprains
								and strains, bites, stings, viruses, infections, eye injuries
								and ongoing illness or injury.</p>
							<p>A pharmacy can help with colds and flu, skin conditions,
								allergies, headaches, diarrhoea or constipation, or sleeping
								problems.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section-2 img"
		style="background-image: url(../images/bg_3.jpg);">
		<div class="container">
			<div class="row d-md-flex justify-content-end">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="services-wrap ftco-animate">
								<div
									class="icon d-flex justify-content-center align-items-center">
									<span class="ion-ios-arrow-back"></span> <span
										class="ion-ios-arrow-forward"></span>
								</div>
								<h2>Laboratory Services</h2>
								<p>Even the all-powerful Pointing has no control about the
									blind.</p>
							</a> <a href="#" class="services-wrap ftco-animate">
								<div
									class="icon d-flex justify-content-center align-items-center">
									<span class="ion-ios-arrow-back"></span> <span
										class="ion-ios-arrow-forward"></span>
								</div>
								<h2>General Treatment</h2>
								<p>Even the all-powerful Pointing has no control about the
									blind.</p>
							</a> <a href="#" class="services-wrap ftco-animate">
								<div
									class="icon d-flex justify-content-center align-items-center">
									<span class="ion-ios-arrow-back"></span> <span
										class="ion-ios-arrow-forward"></span>
								</div>
								<h2>Emergency Service</h2>
								<p>Even the all-powerful Pointing has no control about the
									blind.</p>
							</a> <a href="#" class="services-wrap ftco-animate">
								<div
									class="icon d-flex justify-content-center align-items-center">
									<span class="ion-ios-arrow-back"></span> <span
										class="ion-ios-arrow-forward"></span>
								</div>
								<h2>24/7 Help &amp; Support</h2>
								<p>Even the all-powerful Pointing has no control about the
									blind.</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Our Experienced Doctors</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-1.jpg);">
								<div class="box">
									<h2>KolliparaVamsi</h2>
									<p>Neurologist</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;Even the all-powerful Pointing has no control
										about the blind texts it is an almost unorthographic life One
										day however a small line of blind text by the name of
										Lorem&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-1.jpg);"></div>
									</div>
									<div class="name align-self-center">
										KolliparaVamsi <span class="position">Neurologist</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-2.jpg);">
								<div class="box">
									<h2>Rajkamal</h2>
									<p>Pediatrician</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;Even the all-powerful Pointing has no control
										about the blind texts it is an almost unorthographic life One
										day however a small line of blind text by the name of
										Lorem&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-2.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Rajkamal <span class="position">Pediatrician</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-3.jpg);">
								<div class="box">
									<h2>Logabarathi</h2>
									<p>Ophthalmologist</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;Even the all-powerful Pointing has no control
										about the blind texts it is an almost unorthographic life One
										day however a small line of blind text by the name of
										Lorem&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-3.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Logabarathi <span class="position">Ophthalmologist</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-4.jpg);">
								<div class="box">
									<h2>Naveenkumar</h2>
									<p>Pulmonologist</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;Even the all-powerful Pointing has no control
										about the blind texts it is an almost unorthographic life One
										day however a small line of blind text by the name of
										Lorem&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(images/doctor-4.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Naveenkumar <span class="position">Pulmonologist</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 ftco-animate">
					<h4>We are well experienced doctors</h4>
					<p>A small river named Duden flows by their place and supplies
						it with the necessary regelialia. It is a paradisematic country,
						in which roasted parts of sentences fly into your mouth.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter"
		style="background-image: url(../images/bg_4.jpg);">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div
					class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2 class="mb-4">Some fun facts</h2>
					<span class="subheading">Far far away, behind the word
						mountains, far from the countries</span>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="60">0</strong> <span>Hospital</span>
								</div>
							</div>
						</div>
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="200">0</strong> <span>Doctors</span>
								</div>
							</div>
						</div>
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="100">0</strong> <span>Clinics</span>
								</div>
							</div>
						</div>
						<div
							class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="200">0</strong> <span>Reviews</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Testimonials</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap text-center">
								<div class="user-img mb-5"
									style="background-image: url(../images/person_1.jpg)">
									<span
										class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5">Far far away, behind the word mountains,
										far from the countries Vokalia and Consonantia, there live the
										blind texts. Separated they live in Bookmarksgrove right at
										the coast of the Semantics, a large language ocean.</p>
									<p class="name">Dennis Green</p>
									<span class="position">Patient</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap text-center">
								<div class="user-img mb-5"
									style="background-image: url(../images/person_2.jpg)">
									<span
										class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5">Far far away, behind the word mountains,
										far from the countries Vokalia and Consonantia, there live the
										blind texts. Separated they live in Bookmarksgrove right at
										the coast of the Semantics, a large language ocean.</p>
									<p class="name">Dennis Green</p>
									<span class="position">Patient</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap text-center">
								<div class="user-img mb-5"
									style="background-image: url(../images/person_3.jpg)">
									<span
										class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5">Far far away, behind the word mountains,
										far from the countries Vokalia and Consonantia, there live the
										blind texts. Separated they live in Bookmarksgrove right at
										the coast of the Semantics, a large language ocean.</p>
									<p class="name">Dennis Green</p>
									<span class="position">Patient</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap text-center">
								<div class="user-img mb-5"
									style="background-image: url(../images/person_3.jpg)">
									<span
										class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="text">
									<p class="mb-5">Far far away, behind the word mountains,
										far from the countries Vokalia and Consonantia, there live the
										blind texts. Separated they live in Bookmarksgrove right at
										the coast of the Semantics, a large language ocean.</p>
									<p class="name">Dennis Green</p>
									<span class="position">Doctor</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Recent from blog</h2>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-6 ftco-animate">
					<div class="blog-entry align-self-stretch d-flex">
						<a href="blog-single.html" class="block-20 order-md-last"
							style="background-image: url('../images/image_1.jpg');"> </a>
						<div class="text p-4 d-block">
							<div class="meta mb-3">
								<div>
									<a href="#">August 12, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span class="icon-chat"></span>
										3</a>
								</div>
							</div>
							<h3 class="heading mt-3">
								<a href="#">New technology facilities</a>
							</h3>
							<p>A small river named Duden flows by their place and
								supplies it with the necessary regelialia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 ftco-animate">
					<div class="blog-entry align-self-stretch d-flex">
						<a href="blog-single.html" class="block-20 order-md-last"
							style="background-image: url('images/image_2.jpg');"> </a>
						<div class="text p-4 d-block">
							<div class="meta mb-3">
								<div>
									<a href="#">August 12, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span class="icon-chat"></span>
										3</a>
								</div>
							</div>
							<h3 class="heading mt-3">
								<a href="#">New technology facilities</a>
							</h3>
							<p>A small river named Duden flows by their place and
								supplies it with the necessary regelialia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 ftco-animate">
					<div class="blog-entry align-self-stretch d-flex">
						<a href="blog-single.html" class="block-20"
							style="background-image: url('images/image_3.jpg');"> </a>
						<div class="text p-4 d-block">
							<div class="meta mb-3">
								<div>
									<a href="#">August 12, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span class="icon-chat"></span>
										3</a>
								</div>
							</div>
							<h3 class="heading mt-3">
								<a href="#">New technology facilities</a>
							</h3>
							<p>A small river named Duden flows by their place and
								supplies it with the necessary regelialia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 ftco-animate">
					<div class="blog-entry align-self-stretch d-flex">
						<a href="blog-single.html" class="block-20"
							style="background-image: url('images/image_4.jpg');"> </a>
						<div class="text p-4 d-block">
							<div class="meta mb-3">
								<div>
									<a href="#">August 12, 2018</a>
								</div>
								<div>
									<a href="#">Admin</a>
								</div>
								<div>
									<a href="#" class="meta-chat"><span class="icon-chat"></span>
										3</a>
								</div>
							</div>
							<h3 class="heading mt-3">
								<a href="#">New technology facilities</a>
							</h3>
							<p>A small river named Duden flows by their place and
								supplies it with the necessary regelialia.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section-parallax">
		<div class="parallax-img d-flex align-items-center">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div
						class="col-md-7 text-center heading-section heading-section-white ftco-animate">
						<h2>Subcribe to our Newsletter</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia, there live the blind texts.
							Separated they live in</p>
						<div class="row d-flex justify-content-center mt-5">
							<div class="col-md-8">
								<form action="#" class="subscribe-form">
									<div class="form-group d-flex">
										<input type="text" class="form-control"
											placeholder="Enter email address"> <input
											type="submit" value="Subscribe" class="submit px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-bg-dark ftco-section img"
		style="background-image: url(images/bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">SIHA</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia, there live the blind texts.</p>
						<ul
							class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span
									class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Information</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Appointments</a></li>
							<li><a href="#" class="py-2 d-block">Our Specialties</a></li>
							<li><a href="#" class="py-2 d-block">Why Choose us</a></li>
							<li><a href="#" class="py-2 d-block">Our Services</a></li>
							<li><a href="#" class="py-2 d-block">health Tips</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Site Links</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Home</a></li>
							<li><a href="#" class="py-2 d-block">About</a></li>
							<li><a href="#" class="py-2 d-block">Departments</a></li>
							<li><a href="#" class="py-2 d-block">Doctors</a></li>
							<li><a href="#" class="py-2 d-block">Blog</a></li>
							<li><a href="#" class="py-2 d-block">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span
									class="text">203 MCM st, Adayar, Chennai- 600005</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span
										class="text">+91 9853543210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
										class="text">info@siha.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</footer>



	<!-- loader 
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
-->
	<!-- Modal -->
	<div class="modal fade" id="modalAppointment" tabindex="-1"
		role="dialog" aria-labelledby="modalAppointmentLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">


					<form th:action="@{/user/save-app}" th:object="${app}"
						method="POST">

						<div class="form-group">
							<label for="appointment_name" class="text-black">Full
								Name</label> <input type="text" th:field="*{name}" class="form-control"
								id="appointment_name">
						</div>


						<div class="form-group">
							<label for="appointment_email" class="text-black">Email</label> <input
								type="text" th:field="*{email}" class="form-control"
								id="appointment_email">
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="appointment_date" class="text-black">Date</label> <input
										type="text" th:field="*{date}" class="form-control"
										id="appointment_date">
								</div>
							</div>


							<div class="col-md-6">
								<div class="form-group">
									<label for="appointment_time" class="text-black">Time</label> <input
										type="text" th:field="*{time}" class="form-control"
										id="appointment_time">
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="appointment_message" class="text-black">Message</label>
							<textarea th:field="*{description}" id="appointment_message"
								class="form-control" cols="15" rows="5"></textarea>
						</div>

						<div class="form-group" align="center">
							<input type="submit" value="Book" class="btn btn-primary">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>


	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery-migrate-3.0.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.easing.1.3.js"></script>
	<script src="../js/jquery.waypoints.min.js"></script>
	<script src="../js/jquery.stellar.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/jquery.magnific-popup.min.js"></script>
	<script src="../js/aos.js"></script>
	<script src="../js/jquery.animateNumber.min.js"></script>
	<script src="../js/bootstrap-datepicker.js"></script>
	<script src="../js/jquery.timepicker.min.js"></script>
	<script src="../js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="../js/google-map.js"></script>
	<script src="../js/main.js"></script>

</body>
</html>